*{
  padding : 0;
  margin: 0;
  text-decoration: none;
}

:root {
  --primary-color: #ffc107;
}
/* heading styling */
header {
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  
}

.countdown {
  float: right;
}

a {
  color: var(--primary-color)!important;
}

/* styling main content */
h1 {
  text-align: center;
  padding: 10px;
}

.main-content {
  text-align: center;
}

#quiz-details {
  font-size: 20px;
}

/* styling for correct/wrong display */ 
#result-display {
  font-size: 35px;
  font-weight: bold;
  margin-top: 40px;
  padding: 20px;
}

#score-display {
  display: none;
}

#score-display h2 {
  font-size: 50px;
}

/* styling for question display */
#question-display {
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
}

/* styling for list of questions */
button.list-group-item {
  margin-top: 10px;
  margin-bottom: 10px;;
}

/* footer styling */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  color: black;
  background-color: var(--primary-color);
  font-size: 2rem;
}


